In [1]:
import pandas as pd

In [3]:
# Se lee el contendido del archivo .csv
data = pd.read_csv('../Data-Origin/who_suicide_statistics.csv')
# Los datos nulos se llenan con ceros
data = data.fillna(0)

# Se especifica el tipo de dato
data['year'] = pd.to_datetime(data['year'], format='%Y')

# Se define un rango para mas de 75 anios
data['age'] = data['age'].str.replace('75+', '75-100')

# Se separa los limites de las edades en dos columnas
data[['init_age', 'last_age']] = data['age'].str.split('-', expand=True)

# Se remueve la palabra years de las columnas
data['init_age'] = data['init_age'].str.replace(' years', '')
data['last_age'] = data['last_age'].str.replace(' years', '')

# Se elimina la vieja columna de anios
data = data.drop(columns=['age'])

# Se definen los tipos de datos
data['init_age'] = data['init_age'].astype(int)
data['last_age'] = data['last_age'].astype(int)
data['suicides_no'] = data['suicides_no'].astype(int)
data['population'] = data['population'].astype(int)

# Se reorganizan las columnas 
data = data[['country','year','sex','init_age','last_age','suicides_no','population']]

In [4]:
data.info() # Para ver la informaci√≥n general de los datos
data.head() # Para ver las primeras filas de los datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  datetime64[ns]
 2   sex          43776 non-null  object
 3   init_age     43776 non-null  int32
 4   last_age     43776 non-null  int32
 5   suicides_no  43776 non-null  int32
 6   population   43776 non-null  int32
dtypes: datetime64[ns](1), int32(4), object(2)
memory usage: 1.7+ MB

   country       year     sex  init_age  last_age  suicides_no  population
0  Albania 1985-01-01  female        15        24            0      277900
1  Albania 1985-01-01  female        25        34            0      246800
2  Albania 1985-01-01  female        35        54            0      267500
3  Albania 1985-01-01  female         5        14            0      298300
4  Albania 1985-01-01  female        55        74            0      138700

In [5]:
# Se genera un nuevo csv con los nuevos datos limpios
data.to_csv('../Data-Treated/fixed_data_who_suicide.csv', index=False)