In [1]:
import pandas as pd
from tabulate import tabulate
from IPython.display import display

In [3]:
# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('../fixed_data_who_suicide.csv')

# Correcion de formato
df['year'] = pd.to_datetime(df['year'], format='%Y-%m-%d', errors='coerce')

# Utilizar la función unique() para obtener los países únicos y se transorma en un set
paises_unicos = set(df['country'].unique())

# Ordenar el conjunto alfabéticamente
paises_unicos = sorted(paises_unicos)

In [9]:
def get_rate(df : pd.DataFrame, country: str) -> pd.DataFrame:
    # Se lee el pais especificado en los parametros
    country_data = df[ df['country'] == country]
    display(country_data)

In [11]:
get_rate(df, 'Mexico')

      country       year     sex  init_age  last_age  suicides_no  population
25368  Mexico 1979-01-01  female        15        24          121     6670736
25369  Mexico 1979-01-01  female        25        34           38     4189516
25370  Mexico 1979-01-01  female        35        54           43     4989611
25371  Mexico 1979-01-01  female         5        14            9     9613103
25372  Mexico 1979-01-01  female        55        74            9     2350236
...       ...        ...     ...       ...       ...          ...         ...
25807  Mexico 2015-01-01    male        25        34         1195    10243158
25808  Mexico 2015-01-01    male        35        54         1560    15181008
25809  Mexico 2015-01-01    male         5        14          137    11790898
25810  Mexico 2015-01-01    male        55        74          584     6465941
25811  Mexico 2015-01-01    male        75       100          163     1427654

[444 rows x 7 columns]

In [7]:
def Calculate_total_deceased_through_years(df: pd.DataFrame, country: str) -> pd.DataFrame:
    headers = ['YEAR','MALE','FEMALE','POPULATION']
    deceased_data = pd.DataFrame(columns=headers)

    # print( 'TOTAL DE REGISTROS:', df[ df['country'] == country].shape[0] )# total de registros

    # Se lee el pais especificado en los parametros
    country_data = df[ df['country'] == country]

    years_set = set(country_data['year'].unique())
    years_set = sorted(years_set)

    for year in years_set:

        # Se enfoca en la data de un unico anio
        year_data = country_data[ country_data['year'] == year ]

        # Se separan los datos de hombres y muejeres
        fem_data = year_data[ year_data['sex'] == 'female']
        male_data = year_data[ year_data['sex'] == 'male']

        # Se suman todas las muertes sin importar el rango de edad
        total_fem_deceased = fem_data['suicides_no'].sum()
        total_male_deceased = male_data['suicides_no'].sum()

        # Se suman todas las poblaciones de los rangos de edad de un anio en especifico
        total_population = year_data['population'].sum()

        # Se agrega una nueva fila al Dataframe con los datos de cada anio
        deceased_data.loc[len(deceased_data.index)] = [year.year, total_male_deceased, total_fem_deceased, total_population]

    # display(deceased_data)

    # country_data.to_csv(f'{country}_total_deceased.csv', index=False)
    deceased_data.to_csv(f'../{country}_total_deceased.csv', index=False)
    return deceased_data

In [8]:
Calculate_total_deceased_through_years(df, 'Albania')

    YEAR  MALE  FEMALE  POPULATION
0   1985     0       0     2605100
1   1986     0       0     2656000
2   1987    48      25     2709600
3   1988    41      22     2764300
4   1989    53      15     2803100
5   1990     0       0     2902700
6   1991     0       0     2884300
7   1992    33      14     2822500
8   1993    46      27     2807300
9   1994    35      15     2849300
10  1995    54      34     2903400
11  1996    50      39     2940200
12  1997   118      52     2977300
13  1998    96      58     3012700
14  1999    91      48     3029700
15  2000    38      16     2796300
16  2001    84      35     2799349
17  2002    91      42     2818839
18  2003    73      51     2843929
19  2004    89      57     2874991
20  2005     0       0     2783320
21  2006     0       0     2780176
22  2007    77      47     2770344
23  2008    99      61     2757059
24  2009     0       0     2745735
25  2010    61      35     2736025
26  2011     0       0     2729206
27  2012     0       0     2725233
28  2013     0       0     2723310
29  2014     0       0     2721712
30  2015     0       0     2719684